extends ../layout

mixin wiki(name)
	a(href='http://wiki.guildwars2.com/wiki/#{name}') #{name}

mixin note(text)
	p.text-muted&attributes(attributes)
		strong Note:
		|  #{text}
		
mixin ps(text)
	p.text-muted&attributes(attributes)
		strong PS!
		|  #{text}

mixin tokenInput(dungeon)
	.col-md-3
		.form-group
			.input-group
				input.form-control(placeholder=dungeon.currency, type="number", min="0", max="10290", step="1", data-bind='value: tokens["#{dungeon.shortname}"]')
				.input-group-addon
					img(src="/img/" + dungeon.currencyImg, alt= dungeon.currency, title= dungeon.currency)
					span.dungeon-name= dungeon.name

mixin dailyInput(dungeon)
	.col-md-3
		h4= dungeon.name 
			|  (
			span(data-bind='text: dailyPaths["' + dungeon.shortname + '"]')
			| )
		.btn-group(data-toggle="buttons", id="daily-" + dungeon.shortname)
			each path in dungeon.paths
				label.btn.btn-sm.btn-default
					input(id="daily-" + dungeon.shortname + "-" + path.value, data-shortname= dungeon.shortname, type="checkbox", autocomplete="off", value= path.value)
					span= path.name

mixin buttons
	button.btn-delete.btn.btn-danger.pull-right(type="button", data-loading-text="Resetting...") 
		span.glyphicon.glyphicon-remove(aria-hidden="true")
		| Reset
	button.btn-save.btn.btn-primary.pull-right.btn-save(type="button", data-loading-text="Saving...")
		span.glyphicon.glyphicon-floppy-disk(aria-hidden="true")
		| Save
	//button.btn-copy.btn.btn-default.pull-right(type="button", data-loading-text="Copying...")
		span.glyphicon.glyphicon-send(aria-hidden="true")
		| Copy

block content
	script(src="/js/knockout-3.2.0.js")
	script(src="/js/dungeoneer-ko.js")
	script(src="/js/dungeoneer.js")
	link(rel="stylesheet", href="/css/dungeoneer.css")
	
	ol.breadcrumb
		li
			a(href="/") Home
		li.active= title
	
	h1= title
		+buttons
	
	h2 How many dungeon tokens do you have?
	.dungeon-tokens
		.row.tokens
			each dungeon in dungeons
				+tokenInput(dungeon)
	
	h2 Which dungeon paths do you want to count as dailies?
	.dungeon-daily
		.row
			each dungeon in dungeons
				+dailyInput(dungeon)
	
	
	h2 Which dungeon armor and weapons do you have?
	+note("the collections ingame have an inconsistent order of items, so to make it consistent items will be ordered heavy armor, medium armor, light armor and weapons. Weapons will be sorted alphabetically.")
	
	.dungeon-collector
		each dungeon in dungeons
			.dungeon(class= dungeon.shortname)
				h3(data-toggle="collapse", data-target="#dungeon-gear-container-" + dungeon.shortname, aria-expanded="true", aria-controls= dungeon.name, data-bind='css: { "text-success": tokensLeft["' + dungeon.shortname + '"]() <= 0}')= dungeon.name
				
				p(data-bind='visible: tokensLeft["' + dungeon.shortname + '"]() > 0') You need 
					span(data-bind='text: tokensLeft["' + dungeon.shortname + '"]') 
					img.currency-icon(src="/img/" + dungeon.currencyImg, alt= dungeon.currency)
					|  to complete this collection.
				p.text-success(data-bind='visible: tokensLeft["' + dungeon.shortname + '"]() <= 0') Congratulations! You have completed this collection.
				
				.dungeon-gear-container.collapse.in(id="dungeon-gear-container-" + dungeon.shortname, data-bind='attr: {"data-collected": tokensCollected["'+ dungeon.shortname +'"]}')
					each item, i in dungeon.items
						.dungeon-gear(data-gear-number= i, data-cost= item.cost, data-shortname= dungeon.shortname, class="dungeon-gear-" + dungeon.shortname)
							img.pull-left(src=item.icon, title=item.name, alt=item.name)
							span.gear-cost= item.cost
								img.currency-icon(src="/img/" + dungeon.currencyImg, alt= dungeon.currency)
					.dungeon-gear.collect-all(data-shortname= dungeon.shortname)
							img.pull-left(src="/img/" + dungeon.currencyImgFilled, title="Collect all", alt= dungeon.currency)
							span.gear-cost All

	h2 Summary
		+buttons
			
	each dungeon in dungeons
		p(data-bind='visible: tokensLeft["' + dungeon.shortname + '"]() > 0') You need 
			span(data-bind='text: tokensLeft["' + dungeon.shortname + '"]') 
			img.currency-icon(src="/img/" + dungeon.currencyImg, alt= dungeon.currency)
			|  to complete 
			+wiki(dungeon.name)
			| .
	
	div(data-bind='visible: !isDungeoneer()')
		h3 If you do the paths you specified daily, you will finish...
		each dungeon in dungeons
			p(data-bind='visible: tokensLeft["' + dungeon.shortname + '"]() > 0')
				+wiki(dungeon.name)
				span(data-bind='visible: dailyPaths["' + dungeon.shortname + '"]() <= 0')
					|  in... never.
				span(data-bind='visible: dailyPaths["' + dungeon.shortname + '"]() > 0')
					|  in 
					span(data-bind='text: Math.ceil(tokensLeft["' + dungeon.shortname + '"]() / (dailyPaths["' + dungeon.shortname + '"]() * 60))')
					|  days.
		
		+note("this does not account for Bags of Wondrous Goods, which drop from champion and legendary enemies in dungeons and contain 3 dungeon tokens. So, in reality you will get more than 60 tokens per daily path.")
		
		h3 Or, if you do the full corresponding PvP Reward Tracks, you will have to complete...
		each dungeon in dungeons
			p(data-bind='visible: tokensLeft["' + dungeon.shortname + '"]() > 0')
				+wiki(dungeon.name + " Dungeon Track")
				|  between 
				span(data-bind='text: Math.ceil(tokensLeft["' + dungeon.shortname + '"]() / ' + (240 + (3 * 390) + 330) + ')')
				|  and 
				span(data-bind='text: Math.ceil(tokensLeft["' + dungeon.shortname + '"]() / ' + (240 + (3 * 210) + 180) + ')')
				|  times.
		
		+note("this is a very rough and simple estimate. From one full PvP Dungeon Track you will get 240 tokens, 3 weapon chests and 1 armor chest. Depending on which items you pick, these rewards will be worth between 1050 and 1740 tokens. This estimate does not take into account what types of items you have left, only how many tokens you have left. If you want a true calculation on how many times you need to complete the PvP Dungeon Track, I would suggest you do it manually.")(style="margin-top: 30px")
		
		+ps("If you only have armor pieces left, doing the actual dungeon might be faster. However, if you are just starting the dungeon collection or have a lot of weapons left to collect, obtaining them through the PvP Dungeon Tracks will be the most efficient way.")
		
	
	div(data-bind='visible: isDungeoneer()')
		h3.text-success Wow! Congratulations, senpai! You are now a Dungeoneer!
		img.quaggan(src="/img/quaggan-party.jpg")
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	