extends ../layout

block content
	script(src="/js/dungeoneer.js")
	link(rel="stylesheet", href="/css/dungeoneer.css")
	
	ol.breadcrumb
		li
			a(href="/") Home
		li.active= title
	
	h1= title
	
	h2 How many dungeon tokens do you have?
	.dungeon-tokens
		.row.tokens
			.col-md-3
				.form-group
					.input-group
						input.form-control(placeholder="Ascalonian Tears", value="0", type="number", min="0", max="10290", step="1")
						.input-group-addon
							img(src="/img/Ascalonian_Tear.png", alt="Ascalonian Tears", title="Ascalonian Tears")
							span.dungeon-name Ascalonian Catacombs
			.col-md-3
				.form-group
					.input-group
						input.form-control(placeholder="Seals of Beetletun", value="0", type="number", min="0", max="10290", step="1")
						.input-group-addon
							img(src="/img/Seal_of_Beetletun.png", alt="Seals of Beetletun", title="Seals of Beetletun")
							span.dungeon-name Caudecus's Manor
			.col-md-3
				.form-group
					.input-group
						input.form-control(placeholder="Deadly Blooms", value="0", type="number", min="0", max="10290", step="1")
						.input-group-addon
							img(src="/img/Deadly_Bloom.png", alt="Deadly Blooms", title="Deadly Blooms")
							span.dungeon-name Twilight Arbor
			.col-md-3
				.form-group
					.input-group
						input.form-control(placeholder="Manifestos of the Moletariate", value="0", type="number", min="0", max="10290", step="1")
						.input-group-addon
							img(src="/img/Manifesto_of_the_Moletariate.png", alt="Manifestos of the Moletariate", title="Manifestos of the Moletariate")
							span.dungeon-name Sorrow's Embrace
		.row.tokens
			.col-md-3
				.form-group
					.input-group
						input.form-control(placeholder="Flame Legion Charr Carvings", value="0", type="number", min="0", max="10290", step="1")
						.input-group-addon
							img(src="/img/Flame_Legion_Charr_Carving.png", alt="Flame Legion Charr Carvings", title="Flame Legion Charr Carvings")
							span.dungeon-name Citadel of Flame
			.col-md-3
				.form-group
					.input-group
						input.form-control(placeholder="Symbols of Koda", value="0", type="number", min="0", max="10290", step="1")
						.input-group-addon
							img(src="/img/Symbol_of_Koda.png", alt="Symbols of Koda", title="Symbols of Koda")
							span.dungeon-name Honor of the Waves
			.col-md-3
				.form-group
					.input-group
						input.form-control(placeholder="Knowledge Crystals", value="0", type="number", min="0", max="10290", step="1")
						.input-group-addon
							img(src="/img/Knowledge_Crystal.png", alt="Knowledge Crystals", title="Knowledge Crystals")
							span.dungeon-name Crucible of Eternity
			.col-md-3
				.form-group
					.input-group
						input.form-control(placeholder="Shards of Zhaitan", value="0", type="number", min="0", max="10290", step="1")
						.input-group-addon
							img(src="/img/Shard_of_Zhaitan.png", alt="Shards of Zhaitan", title="Shards of Zhaitan")
							span.dungeon-name The Ruined City of Arah
	
	h2 Which dungeon armor and weapons do you have?
	p.text-muted Note: the collections ingame have an unconsistent order of items, so to make it consistent items will be ordered heavy armor, medium armor, light armor and weapons. Weapons will be sorted alphabetically.
	.dungeon-collector
		- var dungeons = [{"name": "Ascalonian Catacombs", "shortname": "ac", "currency": "Ascalonian Tears", "currencyImg": "Ascalonian_Tear.png", "items": [{"name":"Ascalonian Protector Greaves","icon":"https://render.guildwars2.com/file/5E650761FF084271B42D4E602133F3B1DAC222CE/61396.png","cost":180},{"name":"Ascalonian Protector Breastplate","icon":"https://render.guildwars2.com/file/CFD098CF23ABF154B7D36F45ECED479D7CAC9BE6/61397.png","cost":330},{"name":"Ascalonian Protector Gauntlets","icon":"https://render.guildwars2.com/file/491CE3267F18D90B0ED073AC0508A4F5479624B6/61398.png","cost":180},{"name":"Ascalonian Protector Helm","icon":"https://render.guildwars2.com/file/EAB6471506CAC64D36E4BFA908B151592D037B50/61399.png","cost":180},{"name":"Ascalonian Protector Legguards","icon":"https://render.guildwars2.com/file/09227726C3B2A1960B051256D0BD29C60EE79CE5/61400.png","cost":300},{"name":"Ascalonian Protector Pauldrons","icon":"https://render.guildwars2.com/file/2BED3729A93091A01AD0D00EE24F0D471EEA5EA8/61401.png","cost":210},{"name":"Ascalonian Sentry Boots","icon":"https://render.guildwars2.com/file/FE1F26AA52C659CE713ADD40276720456CAA6724/61434.png","cost":180},{"name":"Ascalonian Sentry Chestguard","icon":"https://render.guildwars2.com/file/7B270309EF250E96CFAA1C1C069340966090E112/61435.png","cost":330},{"name":"Ascalonian Sentry Gloves","icon":"https://render.guildwars2.com/file/196B920F414C09F6C46C24C33668FAA592F0AD52/61436.png","cost":180},{"name":"Ascalonian Sentry Hat","icon":"https://render.guildwars2.com/file/F159D87DF06C394A29ABC8C5B52E7E28583297BE/61437.png","cost":180},{"name":"Ascalonian Sentry Leggings","icon":"https://render.guildwars2.com/file/1501A00707030CE065CA1B2596E00F4BD44A0FA1/61438.png","cost":300},{"name":"Ascalonian Sentry Shoulderguards","icon":"https://render.guildwars2.com/file/7210E8960327D1B90F5D55111B6EE0F8953BB29F/61439.png","cost":210},{"name":"Ascalonian Performer Shoes","icon":"https://render.guildwars2.com/file/A6E016D02DE965CDE833E6B203B4AA0315A41DC6/61125.png","cost":180},{"name":"Ascalonian Performer Vestments","icon":"https://render.guildwars2.com/file/08050E1CE0EA68022EA049FD1243F0AD902F9CC3/61126.png","cost":330},{"name":"Ascalonian Performer Gloves","icon":"https://render.guildwars2.com/file/22903D73A8606F50965101C41C040146D4D5FB1C/61127.png","cost":180},{"name":"Ascalonian Performer Mask","icon":"https://render.guildwars2.com/file/BA3D945BF34892CE4FFD9A5C513716A7FD0C3CF5/61128.png","cost":180},{"name":"Ascalonian Performer Pants","icon":"https://render.guildwars2.com/file/E405DA27EAD63BC4AAF6735A9744E8CAB67C17BE/61129.png","cost":300},{"name":"Ascalonian Performer Mantle","icon":"https://render.guildwars2.com/file/649F0FE6CFEBBD17B5073F501A0F12499C807E19/61186.png","cost":210},{"name":"Royal Ascalonian Axe","icon":"https://render.guildwars2.com/file/F8137EED7A379A5136FB073A657F2E0BF6D37F36/65001.png","cost":300},{"name":"Royal Ascalonian Dagger","icon":"https://render.guildwars2.com/file/4C07483237DB3E009B06BEFEA55B965BDA03DA4B/65072.png","cost":300},{"name":"Royal Ascalonian Focus","icon":"https://render.guildwars2.com/file/34DAF952DBD64D38DAF47A9AE37F3339D735AFBA/65098.png","cost":210},{"name":"Royal Ascalonian Greatsword","icon":"https://render.guildwars2.com/file/345615454204DE6DBFC31B0A00C9DB3B1FB5CA3E/65159.png","cost":390},{"name":"Royal Ascalonian Hammer","icon":"https://render.guildwars2.com/file/095DDCC8F40478F8BC2B740B5DD23ACA766D0DD5/65174.png","cost":390},{"name":"Royal Ascalonian Harpoon","icon":"https://render.guildwars2.com/file/9F5B6BEB75B75F47AB32EAC1D213099B08E6024D/455724.png","cost":390},{"name":"Royal Ascalonian Longbow","icon":"https://render.guildwars2.com/file/1877AC29CE28DD09067E37087B0A0358500AFF93/65051.png","cost":390},{"name":"Royal Ascalonian Mace","icon":"https://render.guildwars2.com/file/3191FCB207D0F1DF46F76FFE223E57F30E1EE91C/65255.png","cost":300},{"name":"Royal Ascalonian Pistol","icon":"https://render.guildwars2.com/file/FEBCAAA81106724E251B04D92C589839C11FEC1E/65293.png","cost":300},{"name":"Royal Ascalonian Rifle","icon":"https://render.guildwars2.com/file/3EC20FFFEE59241C32A807F7945260F43507545B/65314.png","cost":390},{"name":"Royal Ascalonian Scepter","icon":"https://render.guildwars2.com/file/65B265C6A6C00AEA6D2936C0D7EB64732F31B669/62001.png","cost":300},{"name":"Royal Ascalonian Shield","icon":"https://render.guildwars2.com/file/971ACCB1EA206610914757F7051D4322C7362448/65379.png","cost":210},{"name":"Royal Ascalonian Short Bow","icon":"https://render.guildwars2.com/file/F616037C2623ECE40732A9C2225DAF6059939C9B/65060.png","cost":390},{"name":"Royal Ascalonian Speargun","icon":"https://render.guildwars2.com/file/0B03D929D43C1EC14A6549487C06C22BA7937604/223645.png","cost":390},{"name":"Royal Ascalonian Staff","icon":"https://render.guildwars2.com/file/75103C3F0FB83DF4FC4761A5A7E74609F9AE2D73/65441.png","cost":390},{"name":"Royal Ascalonian Sword","icon":"https://render.guildwars2.com/file/AD33666253A04E970C771F90B006CD703F61E30C/65449.png","cost":300},{"name":"Royal Ascalonian Torch","icon":"https://render.guildwars2.com/file/034F0FB7A567B659FA3DB0C812E7A4A80B055C75/65493.png","cost":210},{"name":"Royal Ascalonian Trident","icon":"https://render.guildwars2.com/file/2B1E7E6B11AB5F0CB0AAD8B59E12A897195C0DE4/67399.png","cost":390},{"name":"Royal Ascalonian Warhorn","icon":"https://render.guildwars2.com/file/919DF01A730D301F6C9F36261BBFEB651F55283E/65567.png","cost":210}]},{"name": "Caudecus's Manor", "shortname": "cm", "currency": "Seals of Beetletun", "currencyImg": "Seal_of_Beetletun.png", "items": [{"name":"Council Guard Greaves","icon":"https://render.guildwars2.com/file/EC0F95071DF6CC9D0508942DC2044579337FC3B9/61550.png","cost":180},{"name":"Council Guard Breastplate","icon":"https://render.guildwars2.com/file/D19EBF4E5555E9130B44054F5DC2F574CAF0BCFF/61551.png","cost":330},{"name":"Council Guard Gauntlets","icon":"https://render.guildwars2.com/file/DE95FD0C57387F6C35A10203D66621927707A5FE/61552.png","cost":180},{"name":"Council Guard Helm","icon":"https://render.guildwars2.com/file/2CDF649A43DA546E77494441981831DD045BACEE/61553.png","cost":180},{"name":"Council Guard Legguards","icon":"https://render.guildwars2.com/file/C3BE10016C0A9F2EB108FF1255F3509E0A4CFA40/61554.png","cost":300},{"name":"Council Guard Pauldrons","icon":"https://render.guildwars2.com/file/79D0152FEF26654D2F5C7B60D6156602325AEAE0/61555.png","cost":210},{"name":"Council Watch Boots","icon":"https://render.guildwars2.com/file/37432E02980B007FA80DEC0FF774E16E5DD360D4/61450.png","cost":180},{"name":"Council Watch Chestguard","icon":"https://render.guildwars2.com/file/E3053EDDB4FFD6B031CE6B6A043153C7256C031E/61451.png","cost":330},{"name":"Council Watch Gloves","icon":"https://render.guildwars2.com/file/BEEDF1F44EEF0C1CB47E080244045F2C4A0473BC/61452.png","cost":180},{"name":"Council Watch Faceguard","icon":"https://render.guildwars2.com/file/64BBC992256511E52659766262020C07E843E2F4/61453.png","cost":180},{"name":"Council Watch Leggings","icon":"https://render.guildwars2.com/file/CB36E7FEFD57553505F6CCB92F150B011FF03592/61454.png","cost":300},{"name":"Council Watch Shoulderguards","icon":"https://render.guildwars2.com/file/F205E23735DCF5B92F78C5D90CDCB06AD6E70912/339738.png","cost":180},{"name":"Council Ministry Shoes","icon":"https://render.guildwars2.com/file/974DADA2AEC9F352710B6D035A0F0DBDF55737FD/61478.png","cost":180},{"name":"Council Ministry Vestments","icon":"https://render.guildwars2.com/file/2A0409C449C453B412CDA90F27D30780D4B3EC07/61479.png","cost":330},{"name":"Council Ministry Gloves","icon":"https://render.guildwars2.com/file/626D9A0F9A3B5D0D2050DCD0CB0FB93EA15201ED/61480.png","cost":180},{"name":"Council Ministry Circlet","icon":"https://render.guildwars2.com/file/A2B4B43668D49D60F519E9432F4F6BEAA23E49C9/61481.png","cost":180},{"name":"Council Ministry Hose","icon":"https://render.guildwars2.com/file/52F1E26298E9434F9E00C9D1B95EE3D2A8A1E144/61482.png","cost":300},{"name":"Council Ministry Mantle","icon":"https://render.guildwars2.com/file/9241772C4A32C530E156ED56A7752D0505EF73BC/61483.png","cost":180},{"name":"Golden Wing Axe","icon":"https://render.guildwars2.com/file/0375E5C44BAE02FA186D064EB0DBE02A526A7129/455674.png","cost":300},{"name":"Golden Wing Dagger","icon":"https://render.guildwars2.com/file/BBA49C26F50E2E052BD390CD5F7BA8E5A7B3A547/455701.png","cost":300},{"name":"Golden Wing Focus","icon":"https://render.guildwars2.com/file/04C10EE27B4706764C44B0089E7D01A0621D0EAB/455705.png","cost":210},{"name":"Golden Wing Greatsword","icon":"https://render.guildwars2.com/file/56BBDC63C707441D6E490BD396213A44012EDC75/455712.png","cost":390},{"name":"Golden Wing Hammer","icon":"https://render.guildwars2.com/file/34C22012C81DA8D60AB36746A8A4F5DD52F6B27F/455714.png","cost":390},{"name":"Golden Wing Harpoon","icon":"https://render.guildwars2.com/file/0432BBD6A0B87805372C61652BE66E2DB819BCE0/455721.png","cost":390},{"name":"Golden Wing Longbow","icon":"https://render.guildwars2.com/file/51A9CE65A79650CB6AFC36071B5E0D0941D61707/455685.png","cost":390},{"name":"Golden Wing Mace","icon":"https://render.guildwars2.com/file/DDEDC8EBF2AE78E2D7F271491ED6FB37CE04ED67/455725.png","cost":300},{"name":"Golden Wing Pistol","icon":"https://render.guildwars2.com/file/D2B6F14470E8245ED942F43D560F1E80222B05F6/455732.png","cost":300},{"name":"Golden Wing Rifle","icon":"https://render.guildwars2.com/file/031F0C31EFC0083E3002486C5F45F42920BA6DC3/455742.png","cost":390},{"name":"Golden Wing Scepter","icon":"https://render.guildwars2.com/file/770E3EDF02AF666CFE23CCF716B121BECAE1E104/455745.png","cost":300},{"name":"Golden Wing Shield","icon":"https://render.guildwars2.com/file/729B2A96CDC6FDC2DF14E001EF3CBC0123C35CA7/455749.png","cost":210},{"name":"Golden Wing Short Bow","icon":"https://render.guildwars2.com/file/A42B9CD9980903052608CA236A98CD761E7D97B3/455690.png","cost":390},{"name":"Golden Wing Speargun","icon":"https://render.guildwars2.com/file/031F0C31EFC0083E3002486C5F45F42920BA6DC3/455742.png","cost":390},{"name":"Golden Wing Staff","icon":"https://render.guildwars2.com/file/A433922CC0573EC106F034C695F41EA60564CE19/455758.png","cost":390},{"name":"Golden Wing Sword","icon":"https://render.guildwars2.com/file/11AB0EDEE60F52AC7CDE939A0A9B7B71569E04D0/455766.png","cost":300},{"name":"Golden Wing Torch","icon":"https://render.guildwars2.com/file/620A9130AAA0B6AB299A40FFF4583EBB660D560D/455771.png","cost":210},{"name":"Golden Wing Trident","icon":"https://render.guildwars2.com/file/A433922CC0573EC106F034C695F41EA60564CE19/455758.png","cost":390},{"name":"Golden Wing Warhorn","icon":"https://render.guildwars2.com/file/306FAFF64AA8AA0FB36433093704C62E25567617/455780.png","cost":210}]},{"name": "Twilight Arbor", "shortname": "ta", "currency": "Deadly Blooms", "currencyImg": "Deadly_Bloom.png", "items": [{"name":"Nightmare Court Greaves","icon":"https://render.guildwars2.com/file/076077FB59F7AA1833A5C69555CC9502522A7DD5/218942.png","cost":180},{"name":"Nightmare Court Breastplate","icon":"https://render.guildwars2.com/file/73CF0605CE3703D83869A07549F71C0D65050CE5/218943.png","cost":330},{"name":"Nightmare Court Gauntlets","icon":"https://render.guildwars2.com/file/E1FD1274F0C00F149154D1E327BCBF1841FE340A/218944.png","cost":180},{"name":"Nightmare Court Helmet","icon":"https://render.guildwars2.com/file/B2F4071080AAF4B1193FD3483F1720DCA2EE69DA/218945.png","cost":180},{"name":"Nightmare Court Legguards","icon":"https://render.guildwars2.com/file/3C9B7D0A17730AD49AB795CEC54B60A9B6CAE2C3/218946.png","cost":300},{"name":"Nightmare Court Pauldrons","icon":"https://render.guildwars2.com/file/70052D3A33EE7F65C72A5DC3BF6505406F047B6A/218947.png","cost":210},{"name":"Nightmare Court Footwraps","icon":"https://render.guildwars2.com/file/F0A638FAB1B15AFC175A55B30405CE027EA8CCB4/61472.png","cost":180},{"name":"Nightmare Court Robes","icon":"https://render.guildwars2.com/file/C85173317408B504993BDC08CD2473C327DE2C62/61473.png","cost":330},{"name":"Nightmare Court Gloves","icon":"https://render.guildwars2.com/file/34A506B9EB2B1F1E0DB49ECA0368D0A86242C4A0/61474.png","cost":180},{"name":"Nightmare Court Regalia","icon":"https://render.guildwars2.com/file/3FC9C0679BE565140BD0230F5512221598C8EB76/61475.png","cost":180},{"name":"Nightmare Court Sarong","icon":"https://render.guildwars2.com/file/EB75DEA69AD92A9D1B17F97C20650FC6B0F14C06/61476.png","cost":300},{"name":"Nightmare Court Mantle","icon":"https://render.guildwars2.com/file/D7509905AD3B9EE00359B041BC3DA29F08D215C7/61477.png","cost":210},{"name":"Nightmare Court Boots","icon":"https://render.guildwars2.com/file/A82817D5CD355D1624BBF206AB082CBD02E56655/493119.png","cost":180},{"name":"Nightmare Court Guise","icon":"https://render.guildwars2.com/file/B4653BDD366024DCEAA09F2C3DF269BCD1DA04CA/493120.png","cost":330},{"name":"Nightmare Court Armguards","icon":"https://render.guildwars2.com/file/FFF60937755238F661C8511A7297C31E26B17611/493121.png","cost":180},{"name":"Nightmare Court Faceguard","icon":"https://render.guildwars2.com/file/CC4368E21B3005A4291640C4B007A2D0482470EE/493122.png","cost":180},{"name":"Nightmare Court Leggings","icon":"https://render.guildwars2.com/file/F06B2C3271BE39A7D1B90446A26057324612167F/493123.png","cost":300},{"name":"Nightmare Court Collar","icon":"https://render.guildwars2.com/file/FFC3C975B33A99092B97ED6321F273B7F2A64A69/493124.png","cost":210},{"name":"Nightmare Axe","icon":"https://render.guildwars2.com/file/A94FECED32192CA9E6F402119BAA380975392C22/455675.png","cost":300},{"name":"Nightmare Blade","icon":"https://render.guildwars2.com/file/0D0B39B322EE4C020C0F98EAD4A964F9D37DF3CE/455764.png","cost":300},{"name":"Nightmare Dagger","icon":"https://render.guildwars2.com/file/2CFF660E6CCC17A1057D5A6A684270C760411069/455700.png","cost":300},{"name":"Nightmare Focus","icon":"https://render.guildwars2.com/file/76F47DEC044145F672447B5D6B11D87ABCDDFA03/455707.png","cost":210},{"name":"Nightmare Glaive","icon":"https://render.guildwars2.com/file/05BE3230B2035E66799A2CBC2FCF5C3903BAABC9/780028.png","cost":300},{"name":"Nightmare Greatsword","icon":"https://render.guildwars2.com/file/15199EE341CE451A04CF10B6DA020F1B07FED255/643210.png","cost":390},{"name":"Nightmare Harpoon Gun","icon":"https://render.guildwars2.com/file/0F75F8BA5E042257B6261641943C6970D14ADB5C/455737.png","cost":390},{"name":"Nightmare Long Bow","icon":"https://render.guildwars2.com/file/CE3777D0115E2A6D683C570359B758DD28E8E6EF/455680.png","cost":390},{"name":"Nightmare Mace","icon":"https://render.guildwars2.com/file/68E9726566AA0A4A72A1A730AFAE09062D90D9FC/455729.png","cost":300},{"name":"Nightmare Pistol","icon":"https://render.guildwars2.com/file/C3160528583C5CD14805C0F9EB0A93255C76FBF2/455731.png","cost":300},{"name":"Nightmare Rifle","icon":"https://render.guildwars2.com/file/0F75F8BA5E042257B6261641943C6970D14ADB5C/455737.png","cost":390},{"name":"Nightmare Scepter","icon":"https://render.guildwars2.com/file/D37892A0CB73CBE72F5103D80C97A676C7BCDEA8/455743.png","cost":300},{"name":"Nightmare Shield","icon":"https://render.guildwars2.com/file/AD625C9DDB7992FE2B38950276F2F92F927B0B35/455754.png","cost":210},{"name":"Nightmare Short Bow","icon":"https://render.guildwars2.com/file/679D44019ECED8B71765A61BA0E6D16CA238FBAE/455689.png","cost":390},{"name":"Nightmare Staff","icon":"https://render.guildwars2.com/file/C0A84D6060A305C15905C8CE9904A49A61B30F0A/455759.png","cost":390},{"name":"Nightmare Torch","icon":"https://render.guildwars2.com/file/CC21F1030C9D560D65FA6CAC5F0AEC31E12B1C00/455769.png","cost":210},{"name":"Nightmare Trident","icon":"https://render.guildwars2.com/file/C0A84D6060A305C15905C8CE9904A49A61B30F0A/455759.png","cost":390},{"name":"Nightmare Warhammer","icon":"https://render.guildwars2.com/file/FD5CBA19BFEE71F87D1B3A08AD01B8170A6E2907/455717.png","cost":390},{"name":"Nightmare Warhorn","icon":"https://render.guildwars2.com/file/0CB505F796CCE5C20827E1ECBD0D912D3A0E0B00/455784.png","cost":210}]},{"name": "Sorrow's Embrace", "shortname": "se", "currency": "Manifestos of the Moletariate", "currencyImg": "Manifesto_of_the_Moletariate.png", "items": []},{"name": "Citadel of Flame", "shortname": "cof", "currency": "Flame Legion Charr Carvings", "currencyImg": "Flame_Legion_Charr_Carving.png", "items": []},{"name": "Honor of the Waves", "shortname": "hotw", "currency": "Symbols of Koda", "currencyImg": "Symbol_of_Koda.png", "items": []},{"name": "Crucible of Eternity", "shortname": "coe", "currency": "Knowledge Crystals", "currencyImg": "Knowledge_Crystal.png", "items": []},{"name": "The Ruined City of Arah", "shortname": "arah", "currency": "Shards of Zhaitan", "currencyImg": "Shard_of_Zhaitan.png", "items": []}];
		
		each dungeon in dungeons
			.dungeon(class= dungeon.shortname)
				h3= dungeon.name

				each item in dungeon.items
					.dungeon-gear-container
						img.pull-left(src=item.icon, title=item.name, alt=item.name)
						span.gear-cost= item.cost
							img(src="/img/" + dungeon.currencyImg, alt= dungeon.currency)
			
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	